@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 5px; 
  border-color: white;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 20px;
}